:host {
  display: block;
  min-width: 0;
}

.header{
    width: inherit;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    border: var(--twitter-border);
     margin-bottom: -1px;
}

app-card{
    position: relative;
    width: 100% !important;
}

.post {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 0;
  border-left: 1px solid rgba(230, 230, 230, 0.5);
  border-right: 1px solid rgba(230, 230, 230, 0.5);
}

@media (max-width: 1399.98px) {
    .header {
        max-width: none;
    }
}

@media (max-width: 767.98px) {
    .header {
        left: 0;
        width: 100vw;
    }

    .post {
        border-left: 0;
        border-right: 0;
    }
}
