:host {
  display: block;
  min-width: 1070px;
  height: 100vh;
}

.header{
    width: inherit;
    height: 50px;
    position: fixed;
    top:0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(230, 230, 230,0.5);
}

app-card{
    position: relative;
    top: 50px;
    width: 100% !important;
}

@media (max-width: 1399.98px) {
    .header {
        max-width: none;
    }
}

@media (max-width: 767.98px) {
    .header {
        left: 0;
        width: 100vw;
    }
}
